<!DOCTYPE html>
<meta lang="en">
<meta charset="utf-8">
<meta content="GIT-WebServer">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<head>
    <title>{{appName}}</title>
    {{>css}}
</head>

<body>
    {{>topnav}}
    <div class="container-fluid">
        <div class="row">
            <!--TODO : Load loading image-->
        </div>
        <div class="row uricontent">
            {{{body}}}
        </div>
    </div>
    {{>js}}
</body>

</html>