<!DOCTYPE html>
<meta lang="en">
<meta charset="utf-8">
<meta content="GIT-WebServer">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<head>
    <title>{{config.appName}}</title>
    {{>css}}
</head>

<body>
    {{{body}}} {{>js}}
</body>

</html>