<!DOCTYPE html>
<html lang="en-IN">
<meta charset="utf-8">
<meta content="GIT-WebServer">
<meta name="theme-color" content="#222">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Source control system using Git">

<head>
    <title>{{config.appName}}</title>
    {{>css}}
</head>

<body>
    <main>
        {{{body}}}
    </main>
    {{>js}}
</body>

</html>