<div class="col-md-3 remove-padding">
    {{>repoInfo}}
</div>
<div class="col-md-9">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <p>{{descripton}}</p>
                    {{url}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{> (activeTab) }}
                </div>
            </div>
        </div>
    </div>
</div>