<div class="col-md-3 remove-padding">
    <ul class="list-group repo-info">
        <li class="list-group-item text-center align-center">
            <a href="/user/createRepo"> + Create Repository</a>
        </li>
    </ul>
</div>
<div class="col-md-10">
    {{>repoIntro}}
</div>