<div class="col-md-3 remove-padding">
    {{#if userAccess.createRepo}}
    <ul class="list-group repo-info">
        <li class="list-group-item text-center align-center">
            <a href="/user/createRepo" data-test="userCreateRepo"> + Create Repository</a>
        </li>
    </ul>
    {{/if}}
</div>
<div class="col-md-10">
    {{>repoIntro}}
</div>