<div class="col-md-12">
    <div class="row">
        <div class="col-md-2">
            <ul>
                <li>
                    <a href="/user/setting/security">Security</a>
                </li>
                <li>
                    <a href="/user/setting/privacy">Privacy</a>
                </li>
                <li>
                    <a href="/user/setting/notification">Notification</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            {{> (settingPage) }}
        </div>
    </div>
</div>