<ul>
    {{#if userAccess.Serverconfiguration}}
    <li>
        <a data-test="controlPannelConfig" href="configuration">Configuration</a>
    </li>
    {{/if}}{{#if userAccess.userControl}}
    <li>
        <a data-test="controlPannelUser" href="userAccess">User Control</a>
    </li>
    {{/if}}
</ul>