<ul>
    {{#if userAccess.Serverconfiguration}}
    <li>
        <a href="configuration">Configuration</a>
    </li>
    {{/if}}{{#if userAccess.userControl}}
    <li>
        <a href="userAccess">User Control</a>
    </li>
    {{/if}}
</ul>