{{>repo/repoTabs}}
<div class="col-md-12 tab-border branch-structure">
    {{#if verify}}
    <div class="row">
        <div class="col-md-12">
            Head Branch:
            <table class="table">
                <thead>
                    <tr>
                        <td>
                            <strong>{{branchName}}</strong>
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            Active Branches:
            <table class="table table-border">
                <thead>
                    {{#each branches}}
                    <tr>
                        <td>{{this}}</td>
                    </tr>
                    {{/each}}
                </thead>
            </table>
        </div>
    </div>
    {{else}}
    <div class="row">
        <div class="col-md-12 text-center">
            This repository is empty
        </div>
    </div>
    {{/if}}
</div>