<div class="container-fluid">
    <div class="row">
        <div>
<!--            {{>siteIntro}} -->
        </div>
        <div class="body"></div>
		    <div class="header">
			    <div>GIT<span>WebServer</span></div>
		    </div>
            <div class="login">
                <form method="POST" data-test="loginForm" action="/login">
                    <input type="text" class="form-control" placeholder="Username" name="eMail" data-test="loginEMail" aria-describedby="E-Mail" required>
                    <input type="password" class="form-control" placeholder="Password" name="password" data-test="loginPassword" aria-describedby="password" required>
                    {{#if failure}}
                        <div class="alert" data-test="loginMessage">Incorrect username or password.</div>
                    {{/if}}
                    <input type="submit" data-test="loginSubmit" value="Sign In"></input>
                </form>
                {{#if config.eMail}}
                <div id="left"><a href="/forgotPass" data-test="loginForgotpass">Can't log in?</a></div>
                {{/if}}
                <div id="right"><a href="/signup" data-test="loginSignup">New User</a></div>
            </div>
    </div>
</div>