<div class="container-fluid">
    <div class="row">
        <div>
<!--            {{>siteIntro}} -->
        </div>
        <div class="body"></div>
		    <div class="header">
			    <div>GIT<span>WebServer</span></div>
		    </div>
            <div class="login">
                <form method="POST" action="/login">
                    <input type="text" class="form-control" placeholder="Username" name="eMail" aria-describedby="E-Mail" required>
                    <input type="password" class="form-control" placeholder="Password" name="password" aria-describedby="password" required>
                    {{#if failure}}
                        <div class="alert">Incorrect username or password.</div>
                    {{/if}}
                    <input type="submit" value="Sign In"></input>
                </form>
                <div id="left"><a href="/forgotPass">Can't log in?</a></div>
                <div id="right"><a href="/signup">New User</a></div>
            </div>
    </div>
</div>